.navbar{
    background-color: #1b83df;
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
 }

.pageTitle h2{
    color: white;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar-collapse .navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link:not(.aptButton) {
    color: white; 
}

.aptButton {
    background-color: white;
    color: #1b83df;
    border-radius: 10px;
    border-color: white;
    padding: 15px 15px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    background-color: #1b83df;
    padding: 25px 0;
    margin-top: 25px;
    color: white;
}

.footer h1 {
    margin-bottom: 0;
    margin-left:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.instagramLogo{
    width: 30px; 
    height: 30px; 
    margin-left: 10px;
} 

.linkedInLogo, .facebookLogo {
    width: 30px; 
    height: 30px; 
}


.groove{
    width: 200px;
    height: 150px;
}

.drummers{
    width: 200px;
    height: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    margin-left: 20px;
    resize: vertical 
}

input[type=password] {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    margin-left: 20px; 
    resize: vertical; 
}

input[type=password]:focus {
    outline: none; 
    border-color: #1b83df;
}

input[type=password]:hover {
    border-color: #0b3962; 
}

  
input[type=submit] {
    background-color: #1b83df;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
}

input[type=submit]:hover {
    background-color: #0b3962;
}

.headers{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-left: 20px;
}

.text-center{
    text-align: center;
}

body {
    overflow-x: hidden; 
    overflow-y: auto; 
}

body::-webkit-scrollbar {
    width: 0; 
}

body:hover::-webkit-scrollbar {
    width: 7px; 
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #1b83df; 
    border-radius: 2px;
    width: 7px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #1b83df; 
}

.hidden {
    display: none;
}

.top-padding{
    padding-top: 200px;
}